apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ name }}"
  namespace: "{{ ns }}"
  labels:
    app.kubernetes.io/name: "{{ name }}"
spec:
  rules:
  - host: "{{ domain }}"
    http:
      paths:
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: "{{ name }}"
            port:
              number: {{ service_port | default(80) }}
